# Unreal Engine
Binaries/
DerivedDataCache/
Intermediate/
Saved/
Packaged/
Build/Receipts/
Build/BatchFiles/
.vs/
.vscode/
*.sln
*.suo
*.opensdf
*.sdf
*.VC.db
*.VC.opendb
*.code-workspace

# OS
Thumbs.db
Desktop.ini
.DS_Store

# Keys - never commit credentials
*.pem
key.txt
